
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

@import "mixins";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.circulo {
	@include circle(100px);

	&.grande {
		@include circle(200px);
	}
}

p {
	margin: 10px;
	a {
		color: $color-principal;
		background-color: #FFF;
		border: 1px solid $color-principal;

		&:hover {
			color: $color-secundario;
			border: 1px solid $color-secundario;
		}
	}
}